html, body {
    background-origin: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.nav {
    background-color: aqua;
    margin: 0;
    height: 100vh;
    width: 20vw;
    position: fixed;
}

.panel {
    background-color: blue;
    height: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.pageContainer {
    background-color: bisque;
    position: absolute;
    width: 80vw;
    left: 20vw;
    overflow: auto;
}

.cover, .page {
    margin: 0;
    width: 100%;
    height: 100vh;
    border: 2px solid black;
}